<h3>予約済みルーム一覧</h3>
 
<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>合計料金</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= image_tag reservation.room.room_image %></td>
        <td><%= reservation.room.room_name %></td>
        <td><%= reservation.room.room_introduction %></td>
        <td><%= reservation.room.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
